svg {
    cursor:default
}

.ticklabels {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

path.link {
    stroke-width : 2.5px;
    stroke-opacity : 0.8;

}